*{
    margin: 0;
    padding: 0;
}
ol, ul, li{list-style: none;} a{text-decoration: none;}
.wrapper{
    width: 1440px;
    margin: 0 auto;
    min-height: 100%;
    overflow: hidden;
}
.container{
    width: 1220px;
    max-width: 100%;
    padding: 0px 100px;
}

// HEADER ---------------------------------------------
.header {
    &__container{
        @include flex($justifi-content);
        align-items: center;
        height: 80px;
        background-color: $yellow;
    }

    &__logo {
        font-family: sans-serif;
        font-size: 30px;
        letter-spacing: 3.5px;
        font-weight: 800;
        color: $purple;
    }

    &__list {
        display: flex;
    }

    &__item {
        @include font(20px, 600px, 24px);
        @extend %box-shadow;
        margin: 0 25px;
        color: rgba(0, 0, 0, 0.6);
    }
}
