*{
    margin: 0;
    padding: 0;
}
ol, ul, li{list-style: none;} a{text-decoration: none;}
.wrapper{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.container{
    width: 1440px;
    max-width: 100%;
}

// HEADER ---------------------------------------------
.header {
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        background-color: #FFD868;
    }

    &__logo {
        font-family: sans-serif;
        font-size: 30px;
        letter-spacing: 3.5px;
        font-weight: 800;
        color: #721B65;
    }

    &__list {
        display: flex;
    }

    &__item {
        font-size: 20px;
        font-weight: 600;
        margin: 0 25px;
        color: #000;
    }
}
