*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
}
.container {
    width: 1240px;
    margin: 0 auto;
}
img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
// ======================
$purple: #721B65;
$yellow: #FFD868;
.description{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
}
.btn-sales{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    width: 273px;
    height: 56px;
    border-radius: 10px;
    border: none;
    background-color: $yellow;
}
// ======================

.main-screen {

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 100px;
        background-color: $yellow;
    }

    &__info {
        flex: 0 1 570px;
    }

    &__title {
        font-weight: 700;
        font-size: 80px;
        line-height: 98px;
        color: $purple;
    }

    &__description {
        padding: 20px 0 30px;
    }

    &__btns {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    &__btn-learn-more {
        color: $purple;
        background: #FFFFFF;
    }

    &__btn-sales {
        color: #FFFFFF;
        background-color: $purple;
    }

    &__img {
        width: 570px;
        height: 814px;
        position: relative;
        overflow: hidden;
    }
}
.video-list {
    background-color: $yellow;
    padding: 30px 0px 40px;

    &__title{
        // padding: 30px 40px;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 40px 0;
    }

    &__card {
        width: 394px;
    }

    &__img {
        height: 338px;
        position: relative;
    }

    &__description {
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        text-align: center;
        background-color: $purple;
        padding: 16px 20px;
    }

    &__learn-more {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: $purple;
    }
}