.video-list {

    &__container {
        background-color: #FFD868;
    }

    &__title{
        padding: 30px 40px;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
    }

    &__card {
        width: 394px;
    }

    &__img {
        // width: 394px;
        height: 424px;
    }

    &__description {
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        text-align: center;
        // background-color: $purple;
        padding: 16px 20px;
    }

    &__learn-more {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        // color: $purple;
    }
}